.recipeGrid {
    display: grid;
    grid-template-columns: auto auto;
}
.recipeContainer h3 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 40px;
}

.recipeContainer img {
    display: block;
    margin: auto;
    max-width: 60%;
    box-shadow: 3px 2px 2px #CCCCCC;
}

.recipeContainer h4 {
    text-align: center;
    text-decoration: underline;
}

.recipeContainer p  {
    line-height: 8px;
    text-align: center;
}