.recipeGrid {
    display: grid;
    grid-template-columns: auto auto;
}
.recipeContainer h3 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 40px;
}

.recipeContainer img {
    display: block;
    margin: auto;
    max-width: 60%;
    border-radius: 7px;
}

.recipeContainer h4 {
    text-align: center;
    text-decoration: underline;
}

.recipeContainer p  {
    line-height: 8px;
    text-align: center;
}

.recipeContainer a {
    text-align: center;
    text-decoration: underline;
    color: black;
    font-size: 20px;
}