.ingredientsContainer h2 {
    margin-top: 32px;
    font-size: 32px;
    text-align: center;
}

.ingredientsContainer p {
    text-align: center;
    line-height: 8px;
    font-size: 18px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}