.fileFormContainer {
    display: block;
    width: 800px;
    max-width: 80%;
    background-color: white;
    margin: auto;
    padding: 50px;
}

.fileFormContainer img {
    display: block;
    max-width: 400px;
    margin: auto;
    margin-bottom: 20px;
}

.uploadCaption {
    display: block;
    width: 500px;
    margin: auto;

    font-size: 24px;
    text-align: center;
}

.fileFormContainer input {
    display: block;
    width: 300px;
    margin: auto;
    margin-top: 20px;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: block;
    padding: 6px 12px;
    cursor: pointer;

    margin: auto;
    margin-top: 20px;
    width: 100px;
    text-align: center;
    
    background-color: #fde8e9;
    color: #1f2232;
    border: 1px solid #fde8e9;
    border-radius: 4px;
}

input[type="file"] {
    display: none;
}

.submitButton {
    padding: 8px 8px;
    background-color: #1f2232;
    color: #fde8e9;
    border: 1px solid #1f2232;
    border-radius: 4px;

    display: block;
    width: 150px;
    margin: auto;
    margin-top: 20px;
    cursor: pointer;

    font-size: 18px;
}