.fileFormContainer {
    display: block;
    width: 800px;
    max-width: 80%;
    margin: auto;
    padding: 50px 20px;
}

.fileFormContainer img {
    display: block;
    max-width: 60%;
    margin: auto;
    margin-bottom: 20px;
}

.uploadCaption {
    display: block;
    width: 60%;
    margin: auto;

    font-size: 24px;
    text-align: center;
}

.fileFormContainer input {
    display: block;
    width: 300px;
    margin: auto;
    margin-top: 20px;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: block;
    padding: 6px 12px;
    cursor: pointer;

    margin: auto;
    margin-top: 20px;
    width: 100px;
    text-align: center;
    
    background-color: #2e3134 ;
    color: white;
    border: 1px solid #2e3134 ;
    border-radius: 4px;
}

input[type="file"] {
    display: none;
}

.submitButton {
    padding: 8px 8px;
    background-color: #2e3134;
    color: white;
    border: 1px solid #2e3134;
    border-radius: 4px;

    display: block;
    width: 150px;
    margin: auto;
    margin-top: 20px;
    cursor: pointer;

    font-size: 18px;
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
}