@font-face {
  font-family: "Montserrat-Regular";
  src: url("./assets//fonts/Montserrat-Regular.ttf");
}


.bodyContainer {
  display: block;
  width: 800px;
  max-width: 80%;
  background-color: #2e3134;
  background: rgba(204, 204, 204, 0.5);
  backdrop-filter: blur(3px);
  margin: auto;
  margin-top: 50px;
  margin-bottom: 150px;
  padding: 40px;

  border: 2px solid white;
  border-radius: 10px;
}

.title {
  text-align: center;
  font-size: 48px;
  font-family: "Montserrat-Regular";
  width:300px;
  margin: auto;
  margin-top: 100px;
  color: #1f2232;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}
.tooltiptext {
  visibility: hidden;
  width: 33%;
  max-width: 300px;
  background-color: black;
  color: #fff;
  text-align: left;
  padding: 5px 10px;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: 60px;
  left: 40%;
  font-size: 16px;
}

.title:hover .tooltiptext {
  visibility: visible;
}
